<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.haaim.web.api.student.repository.StudentMapper">
    <select id="findMonthlyAttendanceStatus" resultType="net.haaim.web.api.student.entity.MonthlyAttendanceStatusEntity">
    	<![CDATA[
	        SELECT   a.date,
			         --  a.class_no,
			         sum(IF(a.attendance=1,1,0))  attendance,
			         sum(IF(a.attendance!=1,1,0)) miss
			FROM     class_mngt a
			WHERE WHERE    a.student_no = #{studentNo}   
				AND date >= #{startDate} 
				AND      date <= #{endDate}
			GROUP BY a.date;
		 ]]>
    </select>
    <select id="findAllByYearAnyClassNoAndKeyword" resultType="net.haaim.web.api.student.entity.StudentListResponse">
    	
        SELECT a.year,
		       a.school,
		       a.grade,
		       a.name,
		       a.mobile,
		       a.parent1_mobile,
		       a.parent2_mobile,
		       a.input_date,
		       b.class_name,
		       b.class_no
		FROM   (SELECT d.year,
		               d.student_no,
		               u.id,
		               u.name,
		               d.school,
		               d.grade,
		               u.mobile,
		               u.input_date,
		               i.parent1_mobile,
		               i.parent2_mobile
		        FROM   USER u
		               JOIN student_detail d
		                 ON u.student_no = d.student_no
		               JOIN student_info i
		                 ON u.student_no = i.student_no) a
		       LEFT JOIN (SELECT c.class_no,
		                         c.class_name,
		                         m.member_no,
		                         c.year
		                  FROM   class c
		                         JOIN class_members m
		                           ON c.class_no = m.class_no) b
		              ON a.student_no = b.member_no
		WHERE 1=1
		<if test="year != null">
			AND a.year = #{year}
		</if>
		<if test="classNo != null">
			AND b.class_no = #{classNo}
		</if>	
		<if test="keyword != null">
			AND a.name like CONCAT('%',#{keyword},'%') OR a.mobile like CONCAT('%',#{keyword},'%')
		</if>	
		
    </select>
</mapper>