<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.haaim.web.api.system.code.repository.CodeMapper">
    <select id="findAllByCodeNameAndUseYn" resultType="net.haaim.web.api.system.code.entity.CodeEntity">
    	SELECT group_code, code, code_name, use_yn, input_id, input_date, update_id, update_date
    	FROM code
    	WHERE use_yn = #{use_yn}
    	<choose>
			<when test="code_name != null">
				AND code_name like CONCAT('%',#{code_name},'%') 
			</when>
		</choose>
    </select>
</mapper>