<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.haaim.web.api.clazz.repository.ClassMapper">
    <select id="dailyClassAttendance" resultType="net.haaim.web.api.clazz.entity.DailyClassAttendanceEntity">
    	<![CDATA[
			SELECT a.DATE,
			       Round(SUM(IF(a.attendance = 1, 1, 0)) / (SELECT Count(members)
			                                                FROM   class_members
			                                                WHERE  member_type = 0
			                                                       AND status IS NULL) * 100
			       )
			       total_attendance,
			       Round(SUM(IF(a.attendance != 1, 1, 0)) / (SELECT Count(members)
			                                                 FROM   class_members
			                                                 WHERE  member_type = 0
			                                                        AND status IS NULL) *
			             100)
			       total_absent
			FROM   class_mngt a
			GROUP  BY a.DATE
		 ]]>
    </select>
   
</mapper>