<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.haaim.web.api.clazz.repository.CurriculumMapper">
    <select id="findAllByYearAndGradeAndCourseAndLargeCategoryAndMediumCateogry" 
    	resultType="net.haaim.web.api.clazz.entity.CurriculumEntity">
    	
    	SELECT cno, year, grade, course, large_category, medium_category,
    		input_id, input_date, update_id, update_date
		FROM	curriculum
		WHERE 1=1
		 	<if test="year != null">
				AND year = #{year}
			</if>
			<if test="grade != null">
				AND grade = #{grade}
			</if>
		 	<if test="largeCategory != null">
				AND large_category like CONCAT('%',#{largeCategory},'%')
			</if>
			<if test="mediumCategory != null">
				AND medium_category like CONCAT('%',#{mediumCategory},'%')
			</if>
    </select>
   
</mapper>